.chat{
  background-color:var(--section-bg);
  height:60%;
  width: 400px;
  position: fixed;
  bottom: 0;
  right: 5%;
  transition: all 0.3s ease;
}

.chat_header{
  background-color: var(--heading-bg);
  padding: 20px;
  height: 65px;
  display:flex;
  width:100%;
  justify-content: space-between;
  align-items: center;
  cursor:pointer;
  transition: 0.3s all ease;
}

.chat_header img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat_header:hover{
  background-color:var(--heading-bg-dark);
}


.chat_messages{
  display: flex;
  flex-direction: column-reverse;
  width:100%;
  height:100%;
  flex-basis: 100px;
  padding-bottom: 170px;
  overflow: auto;
  scrollbar-width: 40px;
}

.chat_messages::-webkit-scrollbar{
  width:0;
}

.chat_message_self{
  margin-bottom: 15px;
  display:flex;
  justify-content: flex-end;
}

.chat_message_self p{
  background-color:var(--blue);
  padding: 10px 20px;
  display:inline-block;
  border-radius: 30px 0 0 30px;
}

.chat_message_other{
  margin-bottom: 15px;
}

.chat_message_other p{
  background-color:var(--red);
  padding: 10px 20px;
  display:inline-block;
  border-radius: 0 30px 30px 0;
}

.chat_input{
  background-color: var(--heading-bg);
  width:100%;
  height: 100px;
  position: absolute;
  bottom: 0;
}

.chat_input textarea{
  width:100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  padding: 10px;
  background-color: var(--heading-bg);
  color:#efefef;
  border:none;
}