.friend-card{
    display:flex;
    background-color:var(--heading-bg);
    align-items:center;
    width:100%;
    padding: 10px;
    margin-bottom:10px; /*adds spacing between different friend cards */
    font-size: 1.3em;
    overflow:hidden;
}

.friend-list-wrapper{
    height: 60vh;
}

.friend-list-wrapper h2{
    margin-bottom: 20px;
    border-bottom: 2px solid #bbb;
}

/*make it obvious that friend-card can be interacted with*/
.friend-card:hover { 
    background-color: #C4C4C4;
    cursor: pointer; 
}

.friend-card > div {
    margin: 5px; /*Adds spacing between individual elements of each friend card*/
}

.friend-card img {
    border-radius:50%; 
    height:40px;
    width:40px;
}
