.interest-list {
    display:flex;
    flex-wrap:wrap;
    width: 100%;
    margin-bottom: 40px;
}

.interest-card {
    background-color:purple; /*what do the colors mean? maybe add color-coding, or color randomness*/
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    text-align:center;
    align-items:center;
    font-size:10px;
}